<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jwt20170218081851.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jwt20170218081851.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jwt20170218081851</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jwt20170218081851</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=s11.winhost.com;Persist Security Info=True;User ID=DB_110658_jwt_user;Password=JmBcit2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="jwt.Infrastructure.ApplicationDbContext, jwt" MigrationConfiguration="jwt.Migrations.Configuration, jwt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="jwt.Properties.Settings.Setting" Order="2" Enabled="False">
          <Destination Path="Data Source=s11.winhost.com;Persist Security Info=True;User ID=DB_110658_jwt_user;Password=JmBcit2015" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-HPAVD48\SQLEXPRESS;Initial Catalog=Jwt;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\jwt.Properties.Settings.Setting_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-HPAVD48\SQLEXPRESS;Initial Catalog=Jwt;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SaveDefaultConnectionXXX" Order="3" Enabled="False">
          <Destination Path="Data Source=s11.winhost.com;Persist Security Info=True;User ID=DB_110658_jwt_user;Password=JmBcit2015" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-HPAVD48\SQLEXPRESS;Initial Catalog=Jwt;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SaveDefaultConnectionXXX_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-HPAVD48\SQLEXPRESS;Initial Catalog=Jwt;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="jwt.Models.EmailDBContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="jwt.Models.EmailDBContext, jwt" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=s11.winhost.com;Persist Security Info=True;User ID=DB_110658_jwt_user;Password=JmBcit2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)jwt.Models.EmailDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)jwt.Properties.Settings.Setting-Web.config Connection String">
      <ParameterValue>Data Source=s11.winhost.com;Persist Security Info=True;User ID=DB_110658_jwt_user;Password=JmBcit2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SaveDefaultConnectionXXX-Web.config Connection String">
      <ParameterValue>Data Source=s11.winhost.com;Persist Security Info=True;User ID=DB_110658_jwt_user;Password=JmBcit2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="jwt.Models.EmailDBContext" />
  </ItemGroup>
</Project>